*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

.form{
    background-color: lightyellow;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}
form{
    border: 1px solid gray;
    padding: 2rem;
}
label,input,img,button,code,textarea{
    margin-inline: 10%;
}
code{
    margin-top: -5rem;
}
img{
    font-size: 1rem;
    margin-inline: 45%;
    margin-bottom: 1rem;
}
input,textarea{
    width:70%;
     /* margin-bottom: 1.3rem;  */
    border: 0;
    outline: 0;
    background: transparent;
    padding: .3rem;
    border-bottom: 2px solid rgb(96, 91, 91);
}
button{
    padding: .4rem 1rem;
}

.error{
    color: white;
    background-color: rgb(255, 0, 0,.8);
    font-weight: 550;
    border-radius: 30px;
    width: 20%;
    margin: .3rem;
    padding:.2rem 1rem;
    margin-left: 10%;
}